[Unit]
Description=Horiba-Uploader-Service
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/horiba_uploader/
ExecStart=/home/pi/horiba_uploader/horiba-uploader.py
SyslogIdentifier=horiba-uploader-innenraum
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
